body{
    background-color: #b2ffd6;
    color: #033A27;
}


h1 {
 display: inline;   
}

img {
    width : 100px;
    vertical-align: top;
}

h2 {
    padding: 5px;
    color : #033A27;
    border: 1px solid rgb(36, 36, 161);
    background-color:#639A87;
}
p {
 /*color:#6153b9;*/
}
h3{
    color:#58527e;
}
